<nav class="nav-bar">
 <div class="nav-container">
    <div class="items">
      <a class="nav-item" href="/listings/new"><i class="fa-solid fa-compass"></i></a>
      <a class="nav-item"   href="/listings"><b>Explore</b></a>
      <a class="nav-item"  href="/listings"><b>All Hotels</b></a>
      <a class="nav-item"  href="/listings/new"><b>Add your Hotel</b></a>
    </div>
    <div class="register">
      <a class="nav-link" href="/signup">Sign Up</a>
      <a class="nav-link" href="/login">Log in</a>
    </div> 
  </div>
</nav>

